*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
background: linear-gradient(to right , #E6E6FA ,#9932CC);
font-family: "Salsa", cursive;
}

#page1{
    height: 200vh;
    width: 100%;
    /* border: 2px solid red; */
    overflow: hidden;
}

#head {
    height: 10vh;
    width: 100%;
    background: black;
    color: whitesmoke;
    font-size: 1.5rem;
    /* margin:3px 4px; */
    padding: 3px 4px;
}
#page1 h2{
    position: relative;
    right: -40%;
    margin: auto;
    font-size: 2rem;
}

#video-container{
    height: 70vh;
    width: 100%;
    margin: 2px 3px;
    padding: 3px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}

#video-container video{
    height: 300px;
    width: 400px;
    padding: 20px 8px;
    border-radius: 50px;
   scale: 1;
   transition: all ease 0.5s;
}
#video-container video:hover{
    /* scale: 2; */

}

#audio-container{
 position: relative;
    height: 70vh;
    width: 100%;
    margin-top: 160px;
    padding: 30px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border: 2px solid black; */
    gap:100px;
   
}

#audio-contatiner audio{
    padding: 20px 8px;
    border-radius: 10px;
}

#audio{
    position: relative;
    top:15%;
}

@media only screen and (max-width: 700px){

    #page1{
        height: 400vh;
        width: 100%;
        /* border: 2px solid red; */
        overflow: hidden;
    }
    
    #head {
        height: 10vh;
        width: 100%;
        background: black;
        color: whitesmoke;
       margin:3px 4px;
       padding: 3px 4px;
        font-size: 1.5rem;
    }
    #page1 h2{
        position: relative;
        right: -11%;
        margin: auto;
        font-size: 2rem;
    }
    
    #video-container{
        height: 70vh;
        width: 100%;
        margin: 2px 3px;
        padding: 3px 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
       
    }
    
    #video-container video{
        height: 300px;
        width: 400px;
        padding: 20px 8px;
        border-radius: 50px;
       
    }
    
    #audio-container{
     position: inherit;
        height: 70vh;
        width: 100%;
        /* top:200%; */
        margin-top: 1169px;
        padding: 30px 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* border: 2px solid black; */
        gap:70px;
       
    }
    
    #audio h2{
        position: absolute;
        right: 10%;
        margin-top: 700px;
    }
   
    
 
}